Source: pyside-assistant
Section: devel
Priority: extra
Maintainer: PySide team <contact@pyside.org>
Build-Depends: debhelper (>= 7.0.50~), python
Standards-Version: 3.9.1
Homepage: http://wiki.meego.com/Documentation_for_pyside-assistant

Package: pyside-assistant
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sharutils, python-stdeb
Description: packaging tool for Harmattan Python applications
 pyside-assistant is a tool that allows developers to package
 Harmattan Python applications, including platform security
 information.
